BACKEND_PORT=5001
DB_USER=""
DB_PASSWORD=""
JWT_SECRET=""
MYSQL_PORT=3309
MYSQL_ROOT_PASSWORD=
VITE_API_URL=http://127.0.0.1:5001
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173

SCALEWAY_ACCESS_KEY=
SCALEWAY_SECRET_KEY=
SCALEWAY_ENDPOINT=https://s3.fr-par.scw.cloud
SCALEWAY_BUCKET_NAME=
SCALEWAY_REGION=fr-par
SCALEWAY_FOLDER=

RESEND_API_KEY=
RESEND_FROM=onboarding@resend.dev
FRONTEND_URL=http://127.0.0.1:5173,http://localhost:5173